# ┌───────────── minute (0 - 59)
# │ ┌───────────── hour (0 - 23)
# │ │ ┌───────────── day of month (1 - 31)
# │ │ │ ┌───────────── month (1 - 12)
# │ │ │ │ ┌───────────── day of week (0 - 6) (Sunday to Saturday;
# │ │ │ │ │                                       7 is also Sunday on
# | | | | |                                                    some systems)
# │ │ │ │ │
# │ │ │ │ │
# * * * * *  command_to_execute

# Run alpha_vantage_api.py every 15 minutes, Monday through Friday (connect to AWS RDS).
*/15 * * * 1-5 /Users/marsh/anaconda3/bin/python ~/data_science_projects/Foreign_Exchange/src/alpha_vantage_api.py
